.preview-card{
    position: relative;

    .btn-add-cart{
        position: absolute !important;
        top: 70%;
        left: 25%;
        opacity: 0;
    }

    &:hover{
        .btn-add-cart {

            opacity: 1;
        }
    }
    
}

.image{
    height: 330px !important;
}

.ant-card-meta-detail{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 15px 8px 8px 8px;

    .ant-card-meta-title{
        font-weight: 700;
    }

    .ant-card-meta-description{
        font-size: 16px !important;
        font-weight: 500;
    }
}