.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    

    a{
        color: rgba(0, 0, 0, 0.85) !important;
    }
  
    .header-icon {
      height: 100%;
      width: 70px;
      padding: 15px 25px;
      margin-left: 35px;
    }
  
    .navigation-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: 40px;
  
      .navigation-link {
        font-size: 18px;
        padding: 10px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

      }
    }
  }
  